<footer>
   <p style="margin: 0px"> <!-- Visit https://freehitcounters.org/ and get your ID -->
     <script type="text/javascript" src="https://freehitcounters.org/count/5rpv"></script><br>
     <a href='https://www.symptoma.it/' class="hide_visitor_badge_ads">Symptoma</a>
	 <script type='text/javascript' src='https://whomania.com/ctr?id={{ site.id_visitors_badge }}'></script>
   </p>
   &copy; <span id="js-current-year"></span> {{ site.author }}
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
  let today = new Date();
  $('#js-current-year').text(today.getFullYear());
</script>