<div class="loader_overlay"></div>
<div class="loader">Loading...</div>
<script>
	const body = document.querySelector('body');
	const loader_overlay = document.querySelector('.loader_overlay');
	const loader = document.querySelector('.loader');
	document.onreadystatechange = function() { 
		if (document.readyState !== "complete") {
			body.style.visibility = "hidden";
			loader_overlay.style.visibility = "visible";
			loader.style.visibility = "visible";
		} else {
			body.style.visibility = "visible";
			loader.style.display = "none";
			const fadeEffect = setInterval(() => {
				if (!loader_overlay.style.opacity) {
					loader_overlay.style.opacity = 1;
				}
				if (loader_overlay.style.opacity > 0) {
					loader_overlay.style.opacity -= 0.1;
				} else {
					loader_overlay.style.display = "none";
					clearInterval(fadeEffect);
				}
			}, 200);
		}
	};
</script>