<!-- <div class="preloader_overlay"></div> -->
<div class="preloader"></div>
<script>
	document.onreadystatechange = function() { 
	if (document.readyState !== "complete") {
		document.querySelector("body").style.visibility = "hidden";
		<!-- document.querySelector(".preloader_overlay").style.visibility = "visible"; -->
		document.querySelector(".preloader").style.visibility = "visible";
	} else {
		document.querySelector(".preloader").style.display = "none";
		<!-- document.querySelector(".preloader_overlay").style.display = "none"; -->
		document.querySelector("body").style.visibility = "visible";
	} 
};
</script>