document.onreadystatechange = function() { 
	if (document.readyState !== "complete") {
		document.querySelector("div.content").style.visibility = "hidden";
		document.querySelector("ul").style.visibility = "hidden";
		document.querySelector("footer").style.visibility = "hidden";
		document.querySelector(".preloader").style.visibility = "visible"; 
	} else {
		document.querySelector(".preloader").style.display = "none";
		document.querySelector("div.content").style.visibility = "visible";
		document.querySelector("ul").style.visibility = "visible";
		document.querySelector("footer").style.visibility = "visible";
	} 
};