<!DOCTYPE html>
<html>
    <head>
        {% include tracking.html %}
        {% include head.html %}
        <style type="text/css">
          {% include main.css %}
        </style>
    </head>
    <body>
          {% include header.html %}
          {% include social.html %}
          {{ content }}
		  {% include footer.html %}
    </body>
	<style>
#overlay {
background: #ffffff;
color: #666666;
position: fixed;
height: 100%;
width: 100%;
z-index: 5000;
top: 0;
left: 0;
float: left;
text-align: center;
padding-top: 25%;
}
</style>
<div id="overlay">
<img src="loader.gif" alt="Loading" /><br/>
Loading...
</div> 
	
</html>
