<!DOCTYPE html>
<html>
    <head>
        {% include tracking.html %}
        {% include head.html %}
        <style type="text/css">
        {% include main.css %}
        </style>
    </head>
    <body>
	    <div class="preloader">
        <img src="https://raw.githubusercontent.com/maximakymenko/page-preloader-tutorial/1a6d6ceb32d501dd02fb2ebcd840c1d2e6f9c202/spinner.svg" alt="spinner">
    </div>  
          {% include header.html %}
          {% include social.html %}
          {{ content }}
	  {% include footer.html %}
    </body>
	<script>
        const preloader = document.querySelector('.preloader');

const fadeEffect = setInterval(() => {
  // if we don't set opacity 1 in CSS, then   //it will be equaled to "", that's why we   // check it
  if (!preloader.style.opacity) {
    preloader.style.opacity = 1;
  }
  if (preloader.style.opacity > 0) {
    preloader.style.opacity -= 0.1;
  } else {
    clearInterval(fadeEffect);
  }
}, 200);

window.addEventListener('load', fadeEffect);
  </script>
</html>
