<!DOCTYPE html>
<html>
    <head>
        {% include tracking.html %}
        {% include head.html %}
        <style type="text/css">
        {% include main.css %}
        </style>
    </head>
	<div class="preloader">
        <img src="https://raw.githubusercontent.com/maximakymenko/page-preloader-tutorial/1a6d6ceb32d501dd02fb2ebcd840c1d2e6f9c202/spinner.svg" alt="spinner">
    </div>  
    <body>
          {% include header.html %}
          {% include social.html %}
          {{ content }}
	  {% include footer.html %}
    </body>
</html>
